/** universal **/

.container {
  margin: auto;
  display: flex;
}

.flex{
  display: flex;
}

div{
  display: block;
}

html{
  font-family: 'Open Sans';
  font-size: 16px;
}

span{
font-family: 'Open Sans', sans-serif;
}

/** Header **/

nav{
  height: 64px;
  background-color: white;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav div{
  display: flex;
  align-items: center;
}

ul{
  margin-right: 16px;
}

ul li{
  display: inline;
  padding: 0 1rem;
  color: grey;
}

.logoimage{
  height: 100%;
  padding-left: 16px;
}

.logobox{
  height: 50px;
}

#academy{
  color: orange;
}

#colmar{
  color: grey;
}

/** Banner **/

.container.banner{
  background-color: #FF876D;
}

.banner-image{
  width: 60%;
  height: auto;
  overflow: hidden;
  padding: 32px 40px 32px 24px;
}

.banner-image img{
  max-width: 100%;
  height: auto;
  display: block;
}

.column{
  display: flex;
  flex-direction: column;
}

.learn{
  justify-content: center;
  max-width: 40%;
  color: #fff;
  max-width: 30%;
}
